# Node.js dependencies
/node_modules

# Hardhat artifacts
/artifacts
/cache

# Environment and secret files
.env
.secret.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
/build

# Miscellaneous
.DS_Store