:root {
  --background: #1B1D29;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nabla", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Nabla";
}

h2 {
  font-size: 2rem;
}

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* HEADER STYLES */

header {
  grid-column: 2 / 12;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2em 0;
}

header .brand {
  font-family: "Nabla";
  font-size: 2rem;
  transform: rotate(-5deg);
  color: aqua;
}

/* BUTTON STYLES */

.btn--fancy,
input[type="submit"] {
  font-family: "Nabla";
  font-size: 1.5rem;

  color: aqua;

  background: transparent;
  border: none;

  cursor: pointer;

  transition: 250ms ease all;
}

header .btn--fancy {
  transform: rotate(5deg);
}

main .create .btn--fancy {
  font-size: 2rem;
}

.btn--fancy:hover,
input[type="submit"]:hover {
  transform: scale(1.2);
}

/* MAIN LAYOUT */

main {
  grid-column: 2 / 12;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  text-align: center;
}

main .create {
  grid-column: 1 / 13;
  place-content: center;
  min-height: 30svh;
}

/* DISPLAY TOKEN LISTINGS */

main .listings {
  grid-column: 1 / 13;
}

main .listings h1 {
  font-family: "Arial";
  font-weight: 800;
  padding: 1em;
}

.tokens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 0));
  gap: 1em;
  place-content: center;
  text-align: center;
}

.tokens p {
  grid-column: 1 / -1;
  font-family: "Arial";
  font-size: 1.50rem;
}

.token {
  background: none;
  border: 1px solid transparent;
  color: var(--foreground);
  padding: 1em;

  font-size: 1.05rem;

  cursor: pointer;
}

.token:nth-child(1) {
  animation: blink forwards 5s ease infinite;
}

.token:hover {
  border: 1px solid var(--foreground);
}

@keyframes blink {
  0% {
    background: yellow;
    opacity: 0;
  }

  5% {
    background: none;
    opacity: 1;
  }

  95% {
    background: none;
    opacity: 1;
  }

  100% {
    background: yellow;
    opacity: 0;
  }
}

.token__details {
  font-family: "Arial";
  font-weight: 400;
  text-align: center;
}

.token__details p {
  font-size: 0.95rem;
  text-transform: lowercase;
  padding: 0.5em;
  width: 100%;
  color: aqua;
}

.token__details .name {
  font-size: 1.40rem;
}

/* CREATE TOKEN FORM */

.list {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.list__description {
  font-family: "Arial";
  font-size: 1.10rem;
  font-weight: 400;
  text-transform: lowercase;
  padding: 1em 0 0;
}

.list form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.list form input[type="text"] {
  background-color: var(--background);
  color: var(--foreground);
  border: none;

  width: 200px;
  padding: 1.50em;
  border-radius: 6px;
}

/* TRADE TOKENS */
.trade {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.trade p {
  font-family: "Arial";
  font-size: 1.10rem;
  text-transform: lowercase;
}

.trade .disclaimer {
  font-size: 1.50rem;
  font-weight: bold;
  padding: 2em;
}

.trade form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.trade form input[type="number"] {
  background-color: var(--background);
  color: var(--foreground);
  border: none;

  width: 200px;
  padding: 1.50em;
  border-radius: 6px;
}