.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  height: 1.25rem;
  padding: 0 $spacing-2;
  border-radius: $radius-full;
  color: $color-white;
  
  &--green {
    background-color: $color-green-500;
  }
  
  &--red {
    background-color: $color-red-500;
  }
}
